$minwidth: 320px;
$mw: 1024;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

.header {
  &__menu {
    padding: 0 0 0 3.15789%;
    flex: 1 1 auto;
    @media (max-width: $md3+px) {
      padding: 0;
    }
  }
}
.menu {
  &__body {
  }
  &__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media (max-width: $md2+px) {
      justify-content: space-between;
    }
  }
  &__phone {
    margin: 0px 5px 0px 5px;
    display: none;
    height: 15px;
    width: 15px;
    margin-top: 9px;
    background: url("../HeaderInfo/img/phone_24px.svg") left no-repeat;
    background-size: contain;
    @media (max-width: 600px) {
      display: block;
    }
  }
  &__clock {

    margin: 0px 5px 0px 5px;
    display: none;
    height: 15px;
    width: 15px;
    margin-top: 9px;
    background: url("../HeaderInfo/img/access_time_24px.svg") left no-repeat;
    background-size: contain;
    @media (max-width: $md2+px) {
      display: block;
    }
    @media (max-width: 390px) {
      display: none;
    }
  }
  &__link-1 {
    display: flex;
    align-items: center;
    margin: 0px 32px 0px 32px;
    max-width: 200px;
    position: relative;
    padding: 0px 0px 0px 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 22px;
    color: #fff;
    @media (max-width: 600px) {
      display: none;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 0px;
    max-width: 200px;
    position: relative;
    padding: 0px 0px 0px 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 22px;
    color: #fff;
    @media (max-width: $md3+px) {
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 15px;
    }
  }
}
.goto-block {
  white-space: nowrap;
  position: relative;
  background: #f2726f;
  border-radius: 8px;
  padding: 4px 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
  @media (max-width: $md3+px) {
    padding: 10px 15px;
  }
  @media (max-width: 360px) {
    padding: 7px;
  }
  &:hover {
    background: #f8828a;
    box-shadow: 0px 16px 24px rgba(38, 38, 38, 0.2),
      0px 8px 16px rgba(38, 38, 38, 0.24);
  }
}
.__goto-block {
  background: url("../HeaderInfo/img/access_time_24px.svg") left no-repeat;
  height: 24px;
  background-size: contain;
  @media (max-width: $md2+px) {
    display: none;
  }
}
._goto-block {
  height: 24px;
  background: url("../HeaderInfo/img/phone_24px.svg") left no-repeat;
  background-size: contain;
}
