$color: #8b2fe1ac;
$Mcolor:#46B6A0;
//======portfolio==========//
.portfolio {
	&__body {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__cart_body {
		display: flex;	
		margin: 15px 15px 10px 15px;
		height: 300px;
		max-width: 300px;
		background-color: rebeccapurple;
	}
	&__cart {
		position: relative;
		padding: 15px 0px 15px 0px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: center;
		height: 300px;
		min-width: 300px;
		font-weight: bold;
		color: #fff;
		font-size: 30px;
		background-size: cover;
		background-repeat: no-repeat;
	}
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		background: none;
		width: 100%;
		height: 100%;
		opacity: 0;
		padding: 4px;
		background: rgba(0,0,0,0.84);
	&:hover {
		color: #fff;
		opacity: 1;
	}
	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 300px;
		height: 300px;
		top: 0;
		left: 0;
	}
	&::before {
		border-top: 3px solid $Mcolor;
		border-bottom: 3px solid $Mcolor;
		transform: scale3d(0,1,1);
	}
	&::after {
		border-left: 3px solid #46B6A0;
		border-right: 3px solid #46B6A0;
		transform: scale3d(1,0,1);
	}
	&:hover::before,
	&:hover::after {
		transform: scale3d(1,1,1);
		transition: transform 0.9s;
		}
	}
	&__text {
		padding: 20px 5px 0px 5px;
		font-weight: bold;
		color: #fff;
		font-size: 20px;
		text-align: center;
		span {
			font-size: 25px;	
			margin: 0px 0px 20px 0px;
		}
			@media (max-width:400px){
				font-size: 17px;
			}
	}
	&__text_name{
		margin: 0px 0px 20px 0px;
	}
	&__text_description{
		font-size: 20px;
	}
	&__text_count{
		font-size: 18px;
		color: yellowgreen;
	}
	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		text-align: center;
		z-index: 5;
		margin-top: 10px;
		font-size: 20px;
		padding: 3px;
		font-weight: bold;
		color: $Mcolor;
		border-radius: 15px;
		border: 2px solid $Mcolor;
		cursor: pointer;
		bottom: 60px;
			&:hover{
			background: $Mcolor;
			color: #ffff;
			transition: color 0.3s, background 0.3s;
		}
	}
}
//======portfolio==========//
