$mainColor: #f87321;

.phone {
  &__body {
    z-index: 100;
    position: fixed;
    bottom: 15px;
    left: 15px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: url("../img-main/img-header/phone.png") center no-repeat;
    background-size: 70px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.183);
    transition: 0.5s ease;
    &:hover {
      background: rgb(230, 150, 6);
      background: linear-gradient(
        90deg,
        rgba(228, 157, 25, 0.986) 0%,
        rgb(255, 94, 0) 100%
      );
      box-shadow: 0px 16px 24px rgba(38, 38, 38, 0.2),
        0px 8px 16px rgba(38, 38, 38, 0.24);
    }
  }
  &__text {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    font-size: 15px;
    font-weight: 700;
    font-family: "Segoe UI";

    text-align: center;
    color: #fff;
    transition: 0.5s ease;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
  &__informations {
    font-size: 20px;
    color: $mainColor;
  }
}

.form-sckroll {
  max-height: 700px;
  overflow: auto;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  height: calc(100vh - 60px);

  &::-webkit-scrollbar {
    width: 5px;
  }
}
