.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  margin: 0px 0px 0px 20px;
  /*   background: url("../../img/FonGreen.jpg") 0 0 no-repeat; */
  background-color: #5d5e5f;
  background-size: cover;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 10px 0px 0px 36px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  max-width: 200px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 22px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgba(221, 221, 221, 0.224);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
